table {
    border-collapse: collapse;
    font-family: Verdana, sans-serif;
}

th, td {
    width: 100px;
    border-bottom: 1px solid white;
}

th:first-child, td:first-child {
    width: 50px;
}

th {
    background-color: #81CFE0;
    color: white;
}

tr:nth-child(odd) {
    background-color: #81CFE0;
    color: white;
}

tr:nth-child(even) {
    background-color: #81CFE0;
    color: white;
}

tr:hover {
    background-color: #ff00d4; 
    color: black; 
}
